.MPartStack { 
    swt-maximize-visible: false; 
    swt-minimize-visible: false; 
}

.MPartStack, .MPart { 
    font: normal 11px Verdana, sans-serif;
}

Group {
	font: bold 11px Verdana, sans-serif;
}


Button, Text, Table, TableColumn, Tree, TreeColumn, DateTime, ExpandBar, List, Combo {
	font: normal 11px Verdana, sans-serif;
}

StyledText {
	font: normal 9px Verdana, sans-serif;
	color: gray;
}


Label {
	font: normal 11px Verdana, sans-serif;
	color: gray;
}

Label.readonly {
	font: normal 11px Verdana, sans-serif;
	color: #444444;
}

#CSSTextTitle {
	color: blue;
	font: bold 14px Verdana, sans-serif;
}

#CSSTextMediumBold {
	color: black;
	font: bold 14px Verdana, sans-serif;
}

#CSSTextCentered {
	text–align: center;
	font: normal 11px Verdana, sans-serif;
}

#CSSListRed {
	color: red;
	font: normal 11px Verdana, sans-serif;
}
